<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span class="example-spacer"></span>

</mat-toolbar>

<div class="m-5">
  <form class=" mt-2" [formGroup]="employeesForm" (ngSubmit)="onSubmit()">
    <div class="row m-1">
      <div class="col-md-5 col-sm-12">
        <mat-form-field class=" ">
          <mat-label>Default api (url)</mat-label>
          <input matInput type="text" formControlName="url">
          <button mat-button *ngIf="!employeesForm.value.url || defaultUrl != employeesForm.value.url" matSuffix
            mat-icon-button aria-label="reload" (click)="fillUrl()">
            <mat-icon>cached</mat-icon>
          </button>
          <mat-error>
            this field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-5 col-sm-10">
        <mat-form-field class=" ">
          <mat-label>Employee Id (number)</mat-label>
          <input matInput type="number" formControlName="id">
          <button mat-button *ngIf="employeesForm.value.id" matSuffix mat-icon-button aria-label="Clear"
            (click)="clearForm()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button type="submit" mat-button [disabled]="!employeesForm.valid" color="primary">
          {{ isNumber() ? 'Get employee by Id': 'Get employees'}}</button>
      </div>
      <div class="col-md-2 col-lg-2">
        <mat-spinner diameter="50" *ngIf="doSomething"></mat-spinner>
      </div>
    </div>

  </form>
  <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
</div>








<router-outlet></router-outlet>